<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/tagsinput.css">
    <link rel="stylesheet" type="text/css" href="css/multilabel.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .container {
            padding-top: 50px;
        }

        .button {
            background-color: #FA9862;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .preloader-wrapper {
            margin: 20% auto; /* Center the preloader */
        }

        /* Center the preloader */
        .preloader-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 100vh;
        }

        .category-label {
            margin-right: 10px;
            border: none !important;
            background-color: transparent !important;
        }
    </style>
    <title>up搜索后台</title>
</head>

<body>
<div class="container">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="keyword" type="text" class="validate">
                    <label for="keyword">关键词*</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>类别</label><br>
                    {{range .}}
                    <label>
                        <input type="checkbox" value="{{.}}" />
                        <span class="category-label">{{.}}</span>
                    </label>
                    {{end}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="min" type="number" class="validate">
                    <label for="min">播放量（最小）</label>
                </div>
                <div class="input-field col s6">
                    <input id="max" type="number" class="validate">
                    <label for="max">播放量（最大）</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light" type="button" onclick="search();">搜索
                        <i class="material-icons right">search</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12" id="result"></div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    function search() {
        var classes = [];
        var chked = document.querySelectorAll("[type=checkbox]:checked");
        for (var i = 0; i < chked.length; i++) {
            classes.push(chked[i].value);
        }
        var keywords = $.trim(document.getElementById('keyword').value);
        var viewFrom = $.trim(document.getElementById('min').value);
        var viewTo = $.trim(document.getElementById('max').value);
        param = {
            'Classes': classes,
            'Keywords': keywords.split(/[ ]/),
            'ViewFrom': parseInt(viewFrom),
            'ViewTo': parseInt(viewTo),
        }
        $.ajax({
            type: "POST",
            url: "/up_search",
            timeout: 10000, //超时时间
            // beforeSend: function (request) {
            //     $("#result").html("<img src='img/loading.gif' />"); //在后台返回success之前显示loading图标
            //     request.setRequestHeader("UserName", encodeURI("高性能golang"));  //写死user_name，实际中应该从浏览器的LocalStorage里取得用户的登录信息。包含中文时要进行encodeURI编码
            // },
            beforeSend: function(request) {
                $("#result").html('<div class="preloader-container"><div class="preloader-wrapper big active">' +
                    '<div class="spinner-layer spinner-blue-only">' +
                    '<div class="circle-clipper left">' +
                    '<div class="circle"></div>' +
                    '</div><div class="gap-patch">' +
                    '<div class="circle"></div>' +
                    '</div><div class="circle-clipper right">' +
                    '<div class="circle"></div>' +
                    '</div></div></div></div>'); // Show Materialize loading spinner
                request.setRequestHeader("UserName", encodeURI("高性能golang"));
            },
            data: JSON.stringify(param),
            success: function (result) {
                strResult = `<table class="striped centered">`;
                strResult += `<thead><tr><th>编号</th><th>作者</th><th>标题</th><th>播放量</th><th>关键词</th><th>发布时间</th></tr></thead><tbody>`;
                $.each(result, function (index, video) {
                    strResult += `<tr><td>`;
                    strResult += index;
                    strResult += `</td><td>`;
                    strResult += video.Author;
                    strResult += `</td><td>`;
                    strResult += `<a target="_blank" href="https://www.bilibili.com/video/` + video.Id + `">` + video.Title + `</a>`;
                    strResult += `</td><td>`;
                    strResult += video.View;
                    strResult += `</td><td>`;
                    strResult += video.Keywords.join(',');
                    strResult += `</td><td>`;
                    strResult += new Date(video.PostTime * 1000).toISOString().split('T')[0];
                    strResult += `</td></tr>`;
                });
                strResult += `</tbody></table>`;
                $('#result').html(strResult);
            },
        }).fail(function (result, result1, result2) {
            $("#result").html(result.responseText);
        });
    };
    $(document).ready(function () {
        $('input[name="keyword"]').tagsinput({
            trimValue: true,
            confirmKeys: [13, 44, 32],
            focusClass: 'my-focus-class'
        });

        $('.bootstrap-tagsinput input').on('focus', function () {
            $(this).closest('.bootstrap-tagsinput').addClass('has-focus');
        }).on('blur', function () {
            $(this).closest('.bootstrap-tagsinput').removeClass('has-focus');
        });
    });
</script>
</body>

</html>
